main {
	section {
		position: relative;
		z-index: 1;
		background:$offwhite;
		padding:200px 100px 100px 220px;
		/*padding: calc(18px + (100 - 18) * (100vw - 400px) / (1440 - 400)) 0;*/
		&.white {
			background:$white;
  		-webkit-clip-path: polygon(0 calc(0% + 6vw), 100% 0, 100% calc(100% - 6vw), 0 100%);
    	clip-path: polygon(0 calc(0% + 6vw), 100% 0, 100% calc(100% - 6vw), 0 100%);
    	margin-top: -6vw;
    	margin-bottom:-6vw;
    	z-index: 2;
    	padding-top:200px;
    	padding-bottom:200px;
    	&:before {
				content:'';
				position: absolute;
				display: block;
				width:100%;
				left:0;
				right:0;
				top:-40px;
			}
		}
		@media (min-width: $bp-xlg-min) {
			/*padding: 100px 0;*/
		}
		&:last-of-type {
			content:'';
			display: block;
			margin-bottom:100vh;
		}
		&#vid-hero {
			height:100vh;
			position: relative;
			min-height: 25rem;
		  width: 100%;
		  overflow: hidden;
		  #vid {
				position: absolute;
			  top: 50%;
			  left: 50%;
			  min-width: 100%;
			  min-height: 100%;
			  width: auto;
			  height: auto;
			  z-index: 0;
			  display: block;
			  opacity: .075;
			  -ms-transform: translateX(-50%) translateY(-50%);
			  -moz-transform: translateX(-50%) translateY(-50%);
			  -webkit-transform: translateX(-50%) translateY(-50%);
			  transform: translateX(-50%) translateY(-50%);
			}
			.hero-text {
		    z-index: 2;
			}
		}
		
	}
}